<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}" accept-charset="UTF-8">

    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>


    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <br>
    <br>
    <input type="submit" value="Add">

</form>

</body>
</html>